/**********************/
/*     over 480px     */
/**********************/
@media only screen and (min-width: 30em) {
}

/**********************/
/*     over 640px     */
/**********************/
@media only screen and (min-width: 43em) {
}

/**********************/
/*     over 928px     */
/**********************/
@media only screen and (min-width: 58em) {
}

/***********************/
/*     over 1120px     */
/***********************/
@media only screen and (min-width: 70em) {
  /* General Styling */
  h1 {
    font-size: 7.2rem;
    margin: 0;
  }

  /* Header */
  .logo-title {
    display: block;
    font-size: 2.2rem;
    font-weight: 600;
  }

  /* Main */
  main {
    max-width: 120rem;
  }

  /* hero-section */
  .hero {
    display: flex;
    align-items: center;
  }

  /* resources-section */
  .resources {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
  }

  .resources h2 {
    grid-column: 1 / -1;
  }
}

/**********************/
/* Very small screens */
/*     under 368px    */
/**********************/
@media (max-width: 23em) {
}
